html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,*::before,*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  min-width: 100vw;
  overflow-x: hidden;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.MainItem {
  z-index: 2;
  position: relative;
  background: white;
  min-height: 500px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  border: 2px solid black;

  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}